<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid51" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="monoandroid71" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="monoandroid71" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="monoandroid71" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid51" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.1.6" targetFramework="monoandroid60" />
  <package id="ServiceStack.Client" version="5.10.4" targetFramework="monoandroid71" />
  <package id="ServiceStack.HttpClient" version="5.10.4" targetFramework="monoandroid71" />
  <package id="ServiceStack.Interfaces" version="5.10.4" targetFramework="monoandroid71" />
  <package id="ServiceStack.Text" version="5.10.4" targetFramework="monoandroid71" />
  <package id="System.Buffers" version="4.5.1" targetFramework="monoandroid71" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Memory" version="4.5.4" targetFramework="monoandroid71" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.3.1" targetFramework="monoandroid71" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ServiceModel.Primitives" version="4.8.0" targetFramework="monoandroid71" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="monoandroid71" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Insights" version="1.12.3" targetFramework="monoandroid60" />
</packages>