<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid51" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="monoandroid71" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="monoandroid71" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid51" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.1.6" targetFramework="monoandroid60" />
  <package id="ServiceStack.Client" version="5.0.0" targetFramework="monoandroid71" />
  <package id="ServiceStack.HttpClient" version="5.0.0" targetFramework="monoandroid71" />
  <package id="ServiceStack.Interfaces" version="5.0.0" targetFramework="monoandroid71" />
  <package id="ServiceStack.Text" version="5.0.0" targetFramework="monoandroid71" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ServiceModel.Primitives" version="4.4.0" targetFramework="monoandroid71" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Insights" version="1.12.3" targetFramework="monoandroid60" />
</packages>